.container{
  height: 600px;
  width: 600px;
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.child1{
  border: 1px solid pink;
  width: 200px;
  height: 200px;
  flex-direction: column;
  align-self: flex-end;
  justify-content: center;
  display: flex;
  align-items: center;
  background-color: pink;
}


.child2{
  border: 1px solid rgb(241, 176, 11);
  width: 200px;
  height: 200px;
  flex-direction: column;
  justify-content: center;
  display: flex;
  align-items: center;
  background-color: purple;

}

.child3{
  border: 1px solid rgb(241, 34, 11);
  width: 200px;
  height: 200px;
  flex-direction: row;
  align-self: flex-start;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: plum;

}

.container2{
  display: flex;
  justify-content: space-evenly;
  /* height: 100px */
  width: 100%;
  background-color: pink;
}

/* .baby1{
  width: 25%;
  height: 25%;
}

.baby2{
  width: 25%;
  height: 25%;
}

.baby3{
  width: 25%;
  height: 25%;
} */

.container2 img{
  width: 95%;
  height: 70%;
}

.tuesday{
  height: 700px;
  width: 700px;
  border: 1px solid red;
  display: flex;
}

.day1{
  width: 200px;
  height: 200px;
  border: 2px solid black;
  color: rgb(230, 13, 209);
  flex-grow: 35px;
}


.day2{
  width: 200px;
  height: 200px;
  border: 2px solid black;
  color: rgb(255, 51, 0);
  flex-shrink: 35%;
}


.day3{
  width: 200px;
  height: 200px;
  border: 2px solid black;
  color: aqua;
  flex-basis: 35px;
}


