p{
  border: 2px solid;
  width: 150px;
}

.static{
  position: static;
  left: 200px;
}

.relative{
  position: relative;
  left: 800px;
}

.fixed{
  position: fixed;
  right: 0;
  bottom: 400px;
  left: 600px;
}

.parent{
  border: 2px solid blue;
  height: 200px;
  width: 500px;
  position: absolute;
}

.absolute{
  position: absolute;
  right: 0;
  bottom: 0;
}

.sticky{
  position: sticky;
  top: 0;
  background-color: brown;
  font-size: 25px;
}

.container{
  position: relative;
  width: 500px;
  height: 300px;
  background-color: aqua;
  border: 1px solid red;
  border-radius: 8px;
}

.child1{
  border: 1px solid pink;
  width: 90px;
  height: 120px;
  position: absolute;
  right: 35px;
  bottom: 10px;
  background-color: rgb(169, 95, 238);
  text-align: center;
  border-radius: 4px;
  z-index: 3;
}

.child2{
  border: 1px solid rgb(241, 176, 11);
  width: 140px;
  height: 160px;
  position: absolute;
  right: 70px;
  bottom: 40px;
  background-color: rgb(15, 52, 238);
  text-align: center;
  border-radius: 8px;
  z-index: 2;
}

.child3{
  border: 1px solid rgb(241, 34, 11);
  width: 220px;
  height: 200px;
  position: absolute;
  right: 120px;
  bottom: 80px;
  background-color: rgb(18, 215, 38);
  text-align: center;
  border-radius: 12px;
  z-index: 1;
}
