body{
  background-image: url(download.jpeg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}



h2::first-letter{
  text-transform: capitalize;
  font-size: 30px;
  color: #0000ff;
}

h2{
color: rgba(178, 37, 6, 0.4);
background-color: aquamarine;
/* border-width: 6px 4px 4px 4px;
border-style: solid dashed dotted ridge;
border-color: blueviolet orange pink red; */
border-top: 2px solid green;
border-left: 2px solid blue;
}

.circle{
  border-width: 6px 5px 0.6px 0.9px;
  border-style: solid dashed dotted solid;
  border-color: red yellow transparent yellowgreen;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

/* border shortcut
border: width style color;eg
border: 2px solid red
 */

