* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Arial', sans-serif;
}

.navbar {
  display: flex;
  position: sticky;
  align-items: center;
  justify-content: space-between;
  top: 0px;
  background: rgba(0, 0, 0, 0.6);
  background-blend-mode: darken;
  background-size: cover;
  color: white;
  padding: 10px 20px;
  padding-bottom: 50px;
}

.nav-list {
  display: flex;
  list-style: none;
}

.nav-list li {
  margin-right: 20px;
}

.nav-list li:last-child {
  margin-right: 0;
}

.nav-list li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  transition: color 0.3s ease-in-out;
}

.nav-list li a:hover {
  color: #ffd700;
  /* Change the color on hover */
}

.rightNav {
  text-align: right;
}

#search {
  padding: 8px;
  font-size: 16px;
  border: 2px solid #fff;
  border-radius: 5px;
}

.btn {
  background-color: #ffd700;
  color: #000;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.btn:hover {
  background-color: #000;
  /* Change the background color on hover */
  color: #ffd700;
}

.circle{
  border: 1px solid green;
  width: 20px;
  margin-left: 30px;
  /* margin-top: 80px; */
  height: 20px;
  border-radius: 80%;
  box-sizing: border-box;
  padding-top: 30px;
  padding-left: 20px;
  font-size: 10px;
  padding-bottom: 5px;
  text-align: justify;
}
